<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
	<%= f.label :name, "Name" %><% if is_required %><label class='red_asterisk'>*</label><% end %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email, "Email" %><% if is_required %><label class='red_asterisk'>*</label><% end %><br />
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password, "Password" %><% if is_required %><label class='red_asterisk'>*</label><% end %><br />
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %><% if is_required %><label class='red_asterisk'>*</label><% end %><br />
	<%= f.password_field :password_confirmation %>
</div>
<div class="field">
	<%= f.label :birthday %><br />
	<%= date_select( :user, :birthday, :start_year => 1910, :end_year => Time.now.year - 1, :order => [:month, :day, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } ) %>
</div>
<div class="field">
	<%= f.label :gender %><br />
	<%= select( :user, :gender, [['Unspecified', 'unspecified'], ['Female', 'female'], ['Male', 'male']] ) %>
</div>