<h1>Update profile</h1>

<%= form_for @user do |f| %>
	<%= render 'fields', :f => f, :is_required => false %>
	<div class="actions">
		<%= f.submit "Update" %>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to "Cancel", current_user %>
	</div>
<% end %>
<br />
<div>
  <%= gravatar_for @user %>
	<%= link_to "change", "http://gravatar.com/emails", :target => "_blank" %>
</div>