<h1>Sign up</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2>Sorry, we could not sign you up because of the following errors:</h2>
			<br />
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<% if msg != "Password digest can't be blank" %>
						<li><%= msg %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>