<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h2>
				<%= gravatar_for @user %>
				<%= @user.email %>
			</h2>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>Email</strong> <%= @user.email %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
			<% if @user.birthday %><strong>Birthday</strong> <%= @user.birthday %><br /><% end %>
			<% if @user.gender %><strong>Gender</strong> <%= @user.gender %><br /><% end %>
		</td>
	</tr>
</table>
</br>
</br>
