<h1>Merchant Sign up</h1>

<%= form_for @merchant do |f| %>
	<%= render 'fields', :f => f, :is_required => true %>
  
	<%= f.fields_for :location do |n| %>
		<%= render 'locfields', :n => n, :is_required => true %>
	<% end %>
	
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
